nav {
    background-color: #2e3092 !important;
    z-index: 100 !important;
}

nav .navbar-nav li a {
    color: #d3cfb6 !important;
    font-weight: bold !important;
    font-size: x-large !important;
}

.nav-brand {
    width: 200px;
    height: 50px;
}


/* medium screen */

@media only screen and (max-width: 1150px) and (min-width: 920px) {
    nav {
        margin-left: 0 !important;
    }
    .navbar-nav .nav-link {
        padding-left: 0% !important;
    }
}


/* medium screen */

@media only screen and (max-width: 920px) and (min-width: 650px) {
    .nav-brand {
        width: 150px;
        height: 37.5px;
    }
}


/* smaller screen */

@media only screen and (max-width: 650px) {
    .nav-brand {
        width: 100px;
        height: 25px;
    }
}