<section class="section_block text-dark" id="schedule">
  <div class="container">
    <h2 class=" offset-md-4 text-warning">Sunday</h2>

    <div class="text-center row">

      <div id="table" class="col-md-3 d-sm-none d-xs-none d-md-block">
        <table class="text-warning mx-auto">
          <div class="text-center ml-4 h4">
            <br>
            <tr>12:00 am</tr>
            <br>
            <tr>2:00 am</tr>
            <br>
            <tr>4:00 am</tr>
            <br>
            <tr>6:00 am</tr>
            <br>
            <tr>8:00 am</tr>
            <br>
            <tr>10:00 am</tr>
            <br>
            <tr>12:00 pm</tr>
            <br>
            <tr>2:00 pm</tr>
            <br>
            <tr>4:00 pm</tr>
            <br>
          </div>
        </table>
      </div>

      <div id="table" class="col-md-8 ml-3" style="background-color: #FEF8C0">
        <div class="row no-gutters">

          <div class="col-6">
            <table class="table">
              <br>
              <tr class="bg-primary">
                <h5 class="font-bold">VR Corner</h5>
                <h6>12 am - 2 am</h6>
              </tr>
              <br>
              <br>
              <br>
              <tr class="bg-primary">
                <h5 class="font-bold">Workshop 2</h5>
                <h6>4 am - 6 am</h6>
              </tr>
              <br>
              <br><br>
              <tr class="bg-secondary">
                <h5 class="font-bold">Fatigued Cup Stacking</h5>
                <h6>8 am - 11 am</h6>
                <br>
                <br>
              </tr>
              <tr class="bg-primary">
                <h5 class="font-bold">Devpost Submissions Close</h5>
                <h6>11 am</h6>
              </tr>
              <br><br>
              <tr class="bg-secondary">
                <h5 class="font-bold">Closing</h5>
                <h6>2:30 pm - 3:30 pm</h6>
              </tr>
            </table>
          </div>


          <div class="col-6">
            <table class="table">
              <br>
              <tr class="bg-info">
                <h5 class="font-bold">Midnight Snack</h5>
                <h6>12 am - 3 am</h6>
                <br><br>
              </tr>
              <br><br>
              <br><br>
              <tr class="bg-info">
                <h5 class="font-bold">Breakfast</h5>
                <h6>7 am - 9am</h6>
                <br>
              </tr>
              <br><br>
              <br>
              <tr class="bg-info">
                <h5 class="font-bold">Lunch</h5>
                <h6>11 am - 1pm</h6>
                <br>
              </tr>
            </table>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>
