#table{
  border-radius: 32px;
  padding: 0px;
  height: 720px;
}

.card {
  transition: all .1s ease-in-out;
  border-radius: 0px;
  background-color: transparent;
  position: absolute;
}

.card:hover {
  transform: scale(1.05);
  opacity: 100%;

}
