<section class="section_block bg-transparent" id="schedule">

  <div class="container">
    <h2 class=" offset-md-4 text-warning">Sunday</h2>
    <div class="text-center row">
      <div id="table" class="col-md-3 d-none d-md-block">
          <div class="text-center text-warning ml-4 pt-3">
            <div *ngFor="let hour of clock" [ngStyle]="{'height.px':height}">
                <h4>{{hour}}</h4>
            </div>
          </div>
      </div>
      <div id="table" class="col-md-8 ml-3 bg-warning">
        <div class=" row no-gutters">
              <div
              *ngFor="let event of sunday;"
              class='card {{event.Color}} col-6 w-100'
              [ngClass]="{'offset-6':!(event.Column-2)}"
              [ngStyle]="{'height.px':event.Length, 'top.px':event.Offset}">
              <div id="content" class="my-auto">
                  <h5 class='card-title'>{{event.Title}}</h5>
                  <h6 class='card-subtitle small'>
                    {{event['Start Time'] + "-" + event['End Time']}}
                  </h6>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
