:root {
    --color-dark-blue: #2e3192;
    --color-cream: #fef8c0;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'titling-gothic-fb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main formatting */

.title {
    color: var(--color-cream);
    font-size: 90px;
    font-style: bold;
}

.subtitle {
    font-size: 20px;
}

/* made a mini-composit of the background pieces */
#about {
    background-image: url("images/AboutAssets/BackgroundComp-01.svg");
    background-color: rgb(80, 198, 223); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#abt_text {
    color: rgb(46, 49, 146);
}

/* Temp formatting for Home Page */
#home, #about, #quotes, #partners {
    /* Fill the view */
    padding: 300px 20px;
}

#home {
    background-image: url("./images/background01-01-cropped.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%; 
    width: 100%;
}

#hm_subtitle {
    font-size: 30px;
}

#hm_buttons {
    font-size: 30px;
}

/* Temp formatting for About page */
#abt_subtitle {
    font-size: 20px;
}

#navbar {
    background-color: var(--color-dark-blue);
}

.navitem-text {
    color: var(--color-cream) !important;
    font-size: 26px;
    font-style: bold;
}

.place_holder {
    height: 500px;
    width: auto;
    background-color: #ffffff;
    border-radius: 20px;
}

.place_holder_c {
    height: 70px;
    width: auto;
    background-color: #ffffff;
    border-radius: 50px;
}

.place_holder_icon {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 100px;
}