:root {
    --color-dark-blue: #2e3192;
    --color-cream: #fef8c0;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

/* Main formatting */

#title {
    color: var(--color-cream);
    font-size: 100px;
}

#subtitle {
    font-size: 30px;
}

/* Temp formatting for Home Page */
#home, #about, #quotes, #partners {
    /* Fill the view */
    padding: 300px 20px;
}

#home {
    background-image: url("./images/background01-01-cropped.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%; 
    width: 100%;
}

#hm_subtitle {
    font-size: 30px;
}

#hm_buttons {
    font-size: 30px;
}

/* Temp formatting for About page */
#abt_subtitle {
    font-size: 20px;
}

#navbar {
    background-color: var(--color-dark-blue);
}

.navitem-text {
    color: var(--color-cream) !important;
    font-size: 26px;
}

.place_holder {
    height: 500px;
    width: auto;
    background-color: #ffffff;
    border-radius: 20px;
}

.place_holder_c {
    height: 70px;
    width: auto;
    background-color: #ffffff;
    border-radius: 50px;
}

.place_holder_icon {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 100px;
}