<section class="section_block" id="about">
    <div class="container">
        <div class="row border">
            <div class="col text-center">
                <p class="title" id="abt_text">About CUhackit!</p>
            </div>
            <div class="w-100"></div>
            <!-- Align subtitle center -->
            <div class="col"></div>
            <div class="col-8 align-self-center">
                <p class="subtitle" id="abt_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Vulputate enim nulla aliquet porttitor lacus luctus accumsan 
                    tortor. Sagittis purus sit amet volutpat consequat mauris nunc congue. Platea dictumst 
                    vestibulum rhoncus est pellentesque elit.
                </p>
            </div>
            <div class="col"></div>
            <div class="w-100"></div>
            <!-- Align FAQ button under text -->
            <!-- Commenting out FAQ Button for now, since we don't have an FAQ section yet -->
            <!-- <div class="col-8"></div>
            <div class="col my-2">
                <img src="../../assets/images/AboutAssets/FAQButton.svg" height="250" weight="250" alt="FAQ button">
            </div> -->
        </div>
    </div>
</section>
