<section class="section_block bg-dark text-light" id="about">
    <div class="container border">
        <div class="row">
            <div class="col">
                <p id="title">About CUhackit!</p>
            </div>
            <div class="w-100"></div>
            <div class="col border">
                <p id="abt_subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Vulputate enim nulla aliquet porttitor lacus luctus accumsan
                    tortor. Sagittis purus sit amet volutpat consequat mauris nunc congue. Platea dictumst
                    vestibulum rhoncus est pellentesque elit. Pellentesque nec nam aliquam sem et tortor consequat.
                    Id faucibus nisl tincidunt eget nullam non.
                </p>
            </div>
            <div class="w-100"></div>
            <div class="text-right my-2 col border">
                <p id="title"><strong>FAQ</strong></p>
            </div>
        </div>
    </div>
</section>
