/*
* @Author: Charlie Gallentine
* @Date:   2019-12-18 21:31:15
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-12-18 21:37:44
*/


/* made a mini-composit of the background pieces */
#about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#abt_text {
    color: rgb(46, 49, 146);
}

/* Temp formatting for About page */
#abt_subtitle {
    font-size: 20px;
}
