<!-- Contact Section -->
<section class="section_block" id="contact">
    <div class="container">
        <!-- Temporary Spacer -->
        <div class="row">
            <div class="col my-5 py-5"></div>
            <div class="w-100"></div>
            <div class="col my-5 py-5"></div>
            <div class="w-100"></div>
        </div>
        <!-- Actual elements -->
        <div class="row ">
            <div class="col text-left">
                <p class="title" id="cont_text">Keep in touch!</p>
            </div>
            <!-- Will remove for now until we figure out how to receive the form info/where to store them -->
            <!-- <div class="w-100"></div>
            <div class="col-8 border">
                <div class="place_holder_c"></div>
            </div> -->
        </div>

        <!-- Icons are white in order to abide by their respective branding guidelines
                will add JS later to change color/increase size on hover -->
        <div class="row">
            <!-- Email -->
            <div class="mr-3 col-1">
                <div class="icon">
                    <a href="mailto:cuhackers@g.clemson.edu">
                        <img src="../../assets/images/ContactAssets/emailIcon.svg" height="55px" width="55px" alt="email link">
                    </a>
                </div>
            </div>
            <!-- Twitter -->
            <div class="mr-3 col-1">
                <div class="icon">
                    <a href="https://twitter.com/cuhackit?lang=en" target="_blank">
                        <img src="../../assets/images/ContactAssets/twitterLogo.svg" height="55px" width="55px" alt="twitter link">
                    </a>
                </div>
            </div>
            <!-- Facebook -->
            <div class="mr-3 col-1">
                <div class="icon">
                    <a href="https://www.facebook.com/events/424091875126740/?notif_t=plan_user_invited&notif_id=1568689364933783" target="_blank">
                        <img src="../../assets/images/ContactAssets/f_logo_RGB-White_58.png" height="55px" width="55px" alt="facebook link">
                    </a>
                </div>
            </div>
            <!-- Instagram -->
            <div class="mr-3 col-1">
                <div class="icon">
                    <a href="https://www.instagram.com/cuhackit/?hl=en" target="_blank">
                        <img src="../../assets/images/ContactAssets/F7A0B5D.png" height="50px" width="50px" alt="instagram link">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>