<section class="section_block bg-success text-light" id="partners">
    <div class="container">
        <div class="row justify-content-left">
            <div class="text-left col">
                <h1 class="text-warning text-bold">Keep in touch!</h1>
            </div>
            <div class="w-100"></div>
            <div class="col-10 mt-3">
                <form action="submit">
                  <input type="text" class="form-control rounded-pill bg-warning" placeholder="Enter your email for updates!">
                </form>
            </div>
        </div>
        <div class="my-5 row">
            <div class="mr-3 col">
                <div class="place_holder_icon"></div>
            </div>
            <div class="mr-3 col">
                <div class="place_holder_icon"></div>
            </div>
            <div class="mr-3 col">
                <div class="place_holder_icon"></div>
            </div>
            <div class="col">
                <div class="place_holder_icon"></div>
            </div>
        </div>

    </div>
</section>
