<section class="section_block bg-dark text-light" id="partners">
    <div class="container border">
        <div class="row justify-content-left">
            <div class="text-left col">
                <p id="title">Keep in touch!</p>
            </div>
            <div class="w-100"></div>
            <div class="col-8 border">
                <div class="place_holder_c"></div>
            </div>
        </div>
        <div class="my-5 row border">
            <div class="mr-3 col-1">
                <div class="place_holder_icon"></div>
            </div>
            <div class="mr-3 col-1">
                <div class="place_holder_icon"></div>
            </div>
            <div class="mr-3 col-1">
                <div class="place_holder_icon"></div>
            </div>
            <div class="col-1">
                <div class="place_holder_icon"></div>
            </div>
        </div>

    </div>
</section>
