<section class="section_block bg-light" id="partners">
    <div class="container border">
        <div class="row justify-content-center">
            <div class="text-center col">
                <p id="title">Our Partners</p>
            </div>
            <div class="w-100"></div>
            <div class="mb-5 col-3 border">
                <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150" alt="Responsive image">
                <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>

        <!-- First Row -->
        <div class="row mb-5 justify-content-center border">
                <div class="col-3 border">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150" alt="Responsive image">
                </div>
                <div class="col-3 border">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
                </div>
                <div class="col-3 border">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
                </div>
                <div class="col-3 border">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
                </div>
            </div>

        <!-- Second Row -->
        <div class="row mb-5 justify-content-center border">
            <div class="col-3 border">
                <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150" alt="Responsive image">
            </div>
            <div class="col-3 border">
                <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
            </div>
            <div class="col-3 border">
                <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
            </div>
            <div class="col-3 border">
                <img src="assets/images/CUhackit_RGB_Bug_Color.svg" class="img-fluid" height="150" width="150"" alt="Responsive image">
            </div>
        </div>

        <!-- Become a sponsor -->
        <div class="row border">
            <div class="text-center col-3 border">
                <p id="subtitle"><strong>Become <br>a <br>Sponsor</strong></p>
            </div>
            <div class="col-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                   et dolore magna aliqua.</p>
            </div>
        </div>

    </div>

</section>
