<section id="partners">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center text-secondary col">
                <p class="display-3 partner-text">Our Partners</p>
            </div>
            <div class="w-100"></div>
            <div class="mb-5 col-3">
                <img src="assets/images/PartnerAssets/amazon-web-services.svg" height="90%" width="100%" alt="Responsive image">
            </div>
        </div>

        <!-- First Row -->
        <div class="row mb-5 justify-content-center">
                <div class="col-3">
                    <img src="assets/images/PartnerAssets/splunk.svg" height="90%" width="100%" alt="Responsive image">
                </div>
                <div class="col-3">
                    <img src="assets/images/PartnerAssets/google-cloud.svg"  height="90%" width="100%" alt="Responsive image">
                </div>
                <div class="col-3">
                    <img src="assets/images/PartnerAssets/softdocs.svg" height="90%" width="100%" alt="Responsive image">
                </div>
                <div class="col-3">
                    <img src="assets/images/PartnerAssets/blue-cross-blue-shield.svg" height="90%" width="100%" alt="Responsive image">
                </div>
            </div>

        <!-- Second Row -->
        <div class="row mb-5 justify-content-center partner-logos">
            <div class="col-3">
                <img src="assets/images/PartnerAssets/synnex.svg" height="50%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/scidas.png" height="50%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/zymergen.svg" height="50%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/red-ventures.svg" height="50%" width="100%" alt="Responsive image">
            </div>
        </div>

        <!-- Third Row -->
        <div class="row mb-5 justify-content-center">
            <div class="col-3">
                <img src="assets/images/PartnerAssets/accenture.svg" height="70%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/blackbaud.svg" height="70%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/vanguard.svg" height="70%" width="100%" alt="Responsive image">
            </div>
            <div class="col-3">
                <img src="assets/images/PartnerAssets/american-specialty-health.svg" height="80%" width="100%" alt="Responsive image">
            </div>
        </div>
        <div class="partner-application"><a href="https://forms.gle/i2s32VXxm4woPVsy6" target="blank" class="btn">Become a Partner</a></div>

    </div>

</section>