<section class="section_block text-dark bg-success" id="schedule">

  <div class="container">
    <h1 class="display-1 text-right text-secondary py-4 ">Schedule</h1>
    <h2 class=" offset-md-4 text-warning">Saturday</h2>

    <div class="text-center row">

      <div id="table" class="col-md-3 d-none d-md-block">
        <table class="text-warning mx-auto">
          <div class="text-center ml-4 h4">
            <br>
            <tr>10:00 am</tr>
            <br>
            <tr>12:00 pm</tr>
            <br>
            <tr>2:00 pm</tr>
            <br>
            <tr>4:00 pm</tr>
            <br>
            <tr>6:00 pm</tr>
            <br>
            <tr>8:00 pm</tr>
            <br>
            <tr>10:00 pm</tr>
            <br>
          </div>
        </table>
      </div>

      <div id="table" class="col-md-8 ml-3 bg-warning">
        <div class="row no-gutters">

          <div class="col-6">
            <table class="table">
              <br>
              <tr class="bg-secondary">
                <h5 class="font-bold">Check-in</h5>
                <h6>9 am - 10 am</h6>
              </tr>
              <br>
              <tr class="bg-primary">
                <h5 class="font-bold">Opening Ceremony</h5>
                <h6>10:30 am - 11 am</h6>
              </tr>
              <tr class="bg-secondary">
                <h5 class="font-bold">Hacking Begins!</h5>
                <h6>11 am</h6>
              </tr>
              <br>
              <br>
              <br>
              <br>
              <tr class="bg-primary">
                <h5 class="font-bold">Cup Stacking</h5>
                <h6>4 pm - 6 pm</h6>
                <br>
              </tr>
              <br><br>
              <tr class="bg-secondary">
                <h5 class="font-bold">Workshop 1</h5>
                <h6>8pm - 9pm</h6>
              </tr>
            </table>
          </div>


          <div class="col-6">
            <table class="table">
              <br>
              <br><br>
              <tr class="bg-info">
                <h5 class="font-bold">Lunch</h5>
                <h6>11 am - 3 pm</h6>
                <br><br>
              </tr>
              <br>
              <br>
              <br>
              <br><br>
              <tr class="bg-info">
                <h5 class="font-bold">Dinner</h5>
                <h6>5 pm - 8 pm</h6>
                <br><br>
              </tr>
              <br>
            </table>
          </div>

        </div>
      </div>


    </div>
  </div>
  <br>
  <br>
</section>
