<section class="section_block bg-light" id="quotes">
    <!-- First Quote -->
    <div class="container border">
        <div class="row my-5 justify-content-center justify-content-md- border">
            <!--Col-12 will cause it to span the full width, everything will stack, col-md-9/col-lg-10 for medium->large screens, everything will sit to the right of the picture-->
            <div class="col col-12 col-md-9 col-lg-10">
                <div class="quote_text">
                    <div class="row py-5 justify-content-center justify-content-md-end">
                        <!-- Quote -->
                        <div class="col-auto col-md-7 col-lg-auto">
                            <div class="names text-center text-md-left">
                                <h2><strong>"Agreeable"</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Col-5 for small screens, it will keep the picture from shrinking too much, col-md-3/col-lg-2 for medium->large screens, the picture will sit to the left of the text-->
            <div class="col col-5 col-md-3 col-lg-2 mb-2 mb-md-0">
                <div class="people-picture">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg"
                    class="img-fluid d-block w-100 rounded-circle"
                    height="100" width="100">
                    <p>- may need to use SVG here for text wrap</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Quote -->
    <div class="container border">
        <div class="row mb-5 justify-content-center justify-content-md-start border">
            <!--Col-5 for small screens, it will keep the picture from shrinking too much, col-md-3/col-lg-2 for medium->large screens, the picture will sit to the left of the text-->
            <div class="col col-5 col-md-3 col-lg-2 mb-2 mb-md-0">
                <div class="people-picture">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg"
                    class="img-fluid d-block w-100 rounded-circle"
                    height="100" width="100">
                    <p>- may need to use SVG here for text wrap</p>
                </div>
            </div>
            <!--Col-12 will cause it to span the full width, everything will stack, col-md-9/col-lg-10 for medium->large screens, everything will sit to the right of the picture-->
            <div class="col col-12 col-md-9 col-lg-10">
                <div class="quote_text">
                    <div class="row py-5 justify-content-center justify-content-md-start">
                        <!-- Quote -->
                        <div class="col-auto col-md-7 col-lg-auto">
                            <div class="names text-center text-md-left">
                                <h2><strong>"Agreeable"</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Quote -->
    <div class="container border">
        <div class="row mb-5 justify-content-center justify-content-md- border">
            <!--Col-12 will cause it to span the full width, everything will stack, col-md-9/col-lg-10 for medium->large screens, everything will sit to the right of the picture-->
            <div class="col col-12 col-md-9 col-lg-10">
                <div class="quote_text">
                    <div class="row py-5 justify-content-center justify-content-md-end">
                        <!-- Quote -->
                        <div class="col-auto col-md-7 col-lg-auto">
                            <div class="names text-center text-md-left">
                                <h2><strong>"Agreeable"</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Col-5 for small screens, it will keep the picture from shrinking too much, col-md-3/col-lg-2 for medium->large screens, the picture will sit to the left of the text-->
            <div class="col col-5 col-md-3 col-lg-2 mb-2 mb-md-0">
                <div class="people-picture">
                    <img src="assets/images/CUhackit_RGB_Bug_Color.svg"
                    class="img-fluid d-block w-100 rounded-circle"
                    height="100" width="100">
                    <p>- may need to use SVG here for text wrap</p>
                </div>
            </div>
        </div>
    </div>
</section>
