/*
* @Author: Charlie Gallentine
* @Date:   2019-12-18 21:35:41
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-12-18 21:39:40
*/

/* Navbar */

nav {
    background-color: #2e3092 !important;
}

nav .navbar-nav li a {
    color: #d3cfb6 !important;
    font-weight: bold !important;
    font-size: large !important;
}

