<<<<<<< HEAD
$primary: rgba(46,48,146,.2);
$secondary:rgba(123,210,215,.5);
$info:#FBD08C;
$warning:#FEF8C0;
$success:#2E3092;
$dark: black;
=======
$primary: #62629D;
$secondary:rgba(123,210,215,.5);
$info:#FBD08C;
$warning:#FEF8C0;
$success:#2E3092;
>>>>>>> ca342afae0e9c2c2b4e8be1f0b8b7804d8b6cced
