/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'titling-gothic-fb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main formatting */

.title {
    color: #fef8c0;
    font-size: 90px;
    font-style: bold;
}

.subtitle {
    font-size: 20px;
}

.section_block {
    height: 1600px;
    width: auto;
}

/* Temp formatting for Home Page */
#home, #about, #quotes, #partners {

/* Fill the view */
padding: 300px 20px;

}
