    <!-- Home Section -->
    <section class="section_block" id="home">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <!-- Leftmost Side -->
                        <div class="text-right col-6 home_text" id="home_right">
                            <div class="row">
                                <div class="col">
                                    <p id="title">CUhackit</p>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <p class="paraText" id="subtitle"><b>Clemson University</b>
                                        <br>January 25-26</p>
                                </div>
                            </div>
                        </div>
                        <!-- Middle Side -->
                        <div class="text-left col-3 home_text" id="home_mid">
                            <div class="rotated-half-circle"></div>
                            <div class="circle"></div>
                            <div class="row circle-text">
                                <div class="col">
                                    <p id="title">2020</p>
                                </div>

                                <div class="w-100"></div>
                            </div>
                        </div>
                        <!-- Rightmost Side -->
                        <div class="text-left col-3 home_text" id="home_left">
                            <div class="row">
                                <div class="w-100"></div>
                                <div class="apply-circle"></div>
                                <div class="col apply-circle-text">
                                    <a id="brand" href="#"><b>Apply</b></a>
                                </div>
                                <div class="mentor-circle"></div>
                                <div class="col mentor-circle-text">
                                    <a id="brand" href="#"><b>Mentor</b></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>