<section class="section_block bg-light" id="home">
    <div class="container border">
        <div class="row">
            <div class="col border">
                <div class="row">
                    <!-- Leftmost Side -->
                    <div class="text-right col-6 border home_text" id="home_right">
                        <div class="row">
                            <div class="col border">
                                <p id="title">CUhackit</p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <p class="paraText" id="subtitle"><b>Clemson University</b>
                                <br>January 25-26</p>
                            </div>
                        </div>
                    </div>
                    <!-- Middle Side -->
                    <div class="text-left col-3 border home_text" id="home_mid">
                        <div class="row">
                            <div class="col border">
                                <p id="title">2020</p>
                            </div>

                            <div class="w-100"></div>
                        </div>
                    </div>
                    <!-- Rightmost Side -->
                    <div class="text-left col-3 border home_text" id="home_left">
                        <div class="row">
                            <div class="text-right col py-5 border">
                                <p id="hm_buttons">Mentor</p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col pt-5 border">
                                <p id="hm_buttons">Apply</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
